.container {
    padding: 20px;
    flex-flow: row;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 40px;
    display: flex;
}

.welcome-title {
    font-family: "Cooper", sans-serif;
    font-size: 70px;
    font-weight: 700;
    line-height: 75px;
    color: var(--main-text-color);
}

.welcome-subtitle {
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    color: var(--main-text-color);
}

.welcome-container {
    max-width: 800px;
}

.section-container {
    width: 40%;
}

.welcome-tag {
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    border: 2px dashed #c1befa;
    background-color: #efebfd;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
    height: 50px;
    box-sizing: border-box;
    margin-bottom: -10px;
    padding: 6px 20px;
    display: inline-flex;
    gap: 10px;
    box-shadow: 0 4px 8px #423ac524
}

.welcome-tag svg {
    color: #3d3a79;
    font-size: 20px;
}

.welcome-tag-text {
    grid-column-gap: 8px;
    grid-row-gap: 8px;
    justify-content: flex-start;
    align-items: center;
    display: flex;
    color: #3d3a79;
    font-weight: 600;
}

.create-menu-link {
    border: 2px solid var(--main-text-color);
    background-color: #fbd570;
    color: var(--main-text-color);
    padding: 12px 16px;
    font-weight: 700;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    gap: 8px;
    box-shadow: 0 4px 4px #0003;
    border-radius: 10px;
}

.create-menu-link:hover {
    background-color: #f5c94d;
}

@media (max-width: 1024px) {
    .container {
        flex-direction: column;
        align-items: center;
        padding: 1rem;
    }

    .container>* {
        width: 100%;
        max-width: 600px;
    }

    .welcome-title {
        font-size: 40px;
        text-align: center;
        line-height: 45px;
    }

    .welcome-subtitle {
        font-size: 16px;
        text-align: center;
        padding: 0 1rem;
    }
}

@media (max-width: 480px) {
    .container {
        padding: 0.5rem;
    }

    .welcome-title {
        font-size: 30px;
        line-height: 30px;
    }

    .welcome-subtitle {
        font-size: 14px;
        line-height: 24px;
    }
}